.body{
    height: 100vh;
    overflow: hidden;
    background-image: /* url("../ServicesPic2.png"), */ linear-gradient(130deg,#2e85b7,white, grey);
    background-repeat:no-repeat, no-repeat;
    background-size: 60% 100%;
    background-position: right top, left top;
   
   
}

.body-heading h1{
    
    display: flex;
    justify-content: left;
    margin: 10px;
    padding: 10px;
    font-family:'verdana';
    font-weight: 800;
    font-size: 45px;
    letter-spacing: 0.10em;
}

.listOfServices li{
    text-align: left;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
}

.listOfServices{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px;
    padding: 10px;
   
}

